@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 324 100% 99%;
    --primary: 318 1% 7%;
    --border-radius: 24px;
  }

  .dark {
    --background: 318 1% 7%;
    --primary: 324 100% 99%;
  }

  body {
    @apply [scrollbar-color:_theme('colors.primary')] [scrollbar-width:_thin];
  }

  ::-webkit-scrollbar {
    @apply w-[6px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-primary/80;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/80;
  }

  body {
    @apply scroll-smooth bg-background font-main;
  }
}

@layer component {
  .my-container {
    @apply mx-auto max-w-6xl px-2 xl:px-0;
  }

  .curve {
    @apply relative;
  }

  .curve::before,
  .curve::after {
    @apply absolute bg-[url('/vector/shape.svg')] bg-contain bg-no-repeat content-[''];
  }

  .swiper-pagination-bullet-active {
    background: theme("colors.primary") !important;
  }
}
