@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 324 100% 99%;
    --primary: 318 1% 7%;
  }

  .dark {
    --background: 318 1% 7%;
    --primary: 324 100% 99%;
  }
}

@layer base {
  body {
    @apply bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    @apply font-main;
  }
}
